#!/bin/bash

export TAURI_SIGNING_PRIVATE_KEY="`op read "op://Private/Motion-Minute Tauri App Key/private-key"`"
export TAURI_SIGNING_PRIVATE_PASSWORD="`op read "op://Private/Motion-Minute Tauri App Key/Passwort"`"
